<h4>Ahowing simple employee list</h4>
{{searchEmployee.value}}
<div class="form-group">
    <label for="exampleFormControlInput1">Search Employee</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="searchEmployee" placeholder="Search Employee" [formControl]="searchEmployee" (input)="onInputSearchEmployee($event)">
  </div>
<ul class="list-group">
    <li class="list-group-item"  *ngFor="let employee of simpleListEmployees$ | async">{{employee.employee_name}}</li>
</ul>
{{employees | json}}