<header class="d-flex justify-content-center py-3 bg-white">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/forms">Forms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/directives">Directives</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pipes">Pipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/services">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rxjs">rxjs</a>
    </li>
  </ul>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
